<style>
	body {
    top: 100px;
  }
  h2 { letter-spacing: 1px; color: rgba(111,206,238,1);}
  p {
  	text-align: left; padding-left: 10%; padding-right: 10%; 
  	font-size: 1.2em; color: rgba(90,90,90,0.9); letter-spacing: 0px;
  }
  .boxdesign_g {
  	padding-top: 42px; padding-bottom: 38px;
  	position: relative; top: 100px;
  	background-color: rgba(210,210,210,0.9);
  }
  .boxdesign_w {
  	padding-top: 45px; padding-bottom: 4px;
  	position: relative; top: 86px;
  	background-color: rgba(255,255,255,1);
  }
  h6 {
      position: absolute; padding: 0px; margin: 0px;
      left: 20px;
      font-size: 13px; letter-spacing: 2px;
      margin-bottom: 40px;
  }  
  .contact_design {
      position: fixed;
      right: 0px; z-index: 10;
      bottom: 140px;
  } 
</style>


<!-- <h1>OUR VISION</h1> -->
<h1 style="letter-spacing:1px; padding-left:22%; padding-right:22%; font-size: 2.0em; line-height:140%;">
	AQUA-BRIDGE is a non-profit commited to increasing the access to safe drinking water 
</h1>


<a href="mailto:info@aqua-bridge.org">
  <img class="contact_design" src="img/contactus.png" width="140px" >
</a>


<!-- TEAM MEMBERS -->
<div class="container marketing" style="position:relative; top: 100px;">
  
    <div class="col-lg-4" >
      <img class="img-circle" src="img/peter.png" width="160px" alt="Generic placeholder image" style="padding: 14px">
      <h2>Peter</h2>
      <p style="padding:5px; text-align: center; font-size: 1.2em;">Ph.D candidate in Civil & Environmental Engineering at MIT</p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="img/pratik.png" width="160px" alt="Generic placeholder image" style="padding: 14px">
      <h2>Pratik</h2>
      <p style="padding:5px;text-align: center;font-size: 1.2em;">Post Doctor in Molecular Biology & Microbiology at Harvard </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="img/youjin.png" width="160px" alt="Generic placeholder image" style="padding: 14px">
      <h2>Youjin</h2>
      <p style="padding:5px;text-align: center;font-size: 1.2em;">M.P.S candidate in Interactive Telecommunications at NYU</p>
    </div>
  
 </div>


<!-- WHAT WE DO -->
<br><br>
<div class="boxdesign_g">
	<p style="text-align: center; font-size: 2.1em; padding: 10px; letter-spacing: 1px; color:white;"> WHAT WE DO </p>
	<p>
		1.  Support local filter manufacturers and distributors in developing countries to <a href="/project_summary">monitor their filter performances.</a> 
	</p>
	<p>
		2.  Develop effective data collection, management and analysis system that leads to data driven decision for tackling drinking water crisis. 
	</p>
	<p>
		3.  Provide easy and accessible method to test one’s own water source and share with general public as a <a href="/worldmap">world water quality map.</a>
	</p>
</div>


<!-- HOW WE DO -->
<br>
<div class="container marketing" style="position:relative; top: 150px;">
	<p style="text-align: center; font-size: 2.1em; padding: 0px; letter-spacing: 1px;"> HOW WE DO </p>
	<p style="letter-spacing:0px; padding-left:22%; padding-right:22%; font-size: 1.2em; text-align: center;">
		<span style="color: rgba(148,148,148,1);">We have expertise and extensive experience in low-cost water filtration technology, water quality testing and data management system.</span>
	</p><br>

  <div class="row">
    <div class="col-lg-4" >
      <img class="img-circle" src="img/filtration2.png" width="180px" alt="Generic placeholder image" style="padding: 14px">
      <h2>FILTRATION TECHNOLOGY</h2>
      <p style="padding:5px; text-align: center; font-size: 1.0em;">BioSand Filter (BSF) and Ceramic Pot Filter (CPF) are the two main filtration technologies which AQUA-BRIDGE’s collaborators produce and distribute. BSF and CPF are known to be one of the most effective methods for delivering clean water.</p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="img/testing2.png" width="180px" alt="Generic placeholder image" style="padding: 14px">
      <h2>WATER QUALITY TESTING</h2>
      <p style="padding:5px;text-align: center;font-size: 1.0em;">AQUA-BRIDGE uses the EC-Kit which is a simple, inexpensive field water quality test kit. EC-Kit is developed by Susan Murcott lab at MIT and consists of Colilert™ and 3M Petrifilm™ tests. </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="img/ict2.png" width="180px" alt="Generic placeholder image" style="padding: 14px">
      <h2>SMART DATA MANAGEMENT</h2>
      <p style="padding:5px;text-align: center;font-size: 1.0em;">Our innovative web-based ICT platform enables to effectively integrate, manage and analyze the gathered data to quantify impact and make data-driven decisions.</p>
    </div>
  
 </div>

    <hr class="featurette-divider" style="margin-bottom:40px; padding:0px; margin-top: 6px;">
    <footer style="margin-top:0px; margin:0px; padding:0px">
      <h6>&copy; 2014 AQUA-BRIDGE
      </h6>
    </footer>
