<style>
	  h1 { 
	  	position: relative; top: 100px; padding-left: 10%; padding-right: 10%;
	  	font-size: 2.5em; color: rgba(150,150,150,0.8); text-align: left; letter-spacing:2px;
	  }
	  p {
	  	text-align: left; padding-left: 10%; padding-right: 10%; 
	  	font-size: 1.2em; color: rgba(70,70,70,0.9);;
	  }
	  .boxdesign {
	  	padding-top: 30px; padding-bottom: 50px;
	  	position: relative; top: 160px;
	  	background-color: rgba(190,190,190,0.6);
	  }
</style>

<!-- <h1>OUR VISION</h1> -->
<h1>
	We believes that every person is entitled to clean water, and envision the world where all people have uninterrupted and sustained access to safe water. 
</h1>

<div class="boxdesign">

	<p style="text-align: center; font-size: 2.2em; padding: 10px; color: white;">
		WHAT WE DO
	</p>
	<p>
		1. 1.  Support local filter manufacturers and distributors in developing countries to monitor their filter performances. 
	</p>
	<p>
		2. 2.  Develop and apply effective data collection, management and analysis system that leads to data driven decision for tackling drinking water crisis. 
	</p>
	<p>
		3. 3.  Provide easy and accessible method to test one’s own water source and share with general public as a world water quality map.
	</p>
</div>
