<style>
	p { text-align: center;}
</style>


<div class="row">
		<h1>Admin water requested</h1>
		<br>
</div>


<br>
{{#quality}}
	<!-- <form class="form-horizontal" action="/quality/{{slug}}/delete" method="get"> -->
	<form class="form-horizontal">
		<div class="form-group">
			<label for="reference" class="col-sm-5 control-label"> {{reference}} </label>
			<div class="col-sm-6">
				<A href="/quality/{{slug}}/delete" class="btn btn-danger">Delete</a>
	        </div>
    	</div>
	</form>
	<br>
{{/quality}}
