<!-- http://stackoverflow.com/questions/7042340/node-js-error-cant-set-headers-after-they-are-sent -->


<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<style>
	/*body { font: 16px 'Open Sans Condensed'; }*/

	.axis path,
	.axis line {
	  fill: none;
	  stroke: rgba(0, 0, 0, 0.9); /*#000*/
	  shape-rendering: crispEdges;
	}

	.bar { fill: orange; }
	.bar:hover { fill: orangered ; /*orangered*/ }

	.x.axis path { display: none; }
	.y.axis path { display: none; }

	.d3-tip {
	  line-height: 0.6;
	  font-weight: bold;
	  padding: 10px;
	  background: rgba(0, 0, 0, 0.7);
	  color: #fff;
	  border-radius: 0px;
	}

	/* Creates a small triangle extender for the tooltip */
	.d3-tip:after {
	  box-sizing: border-box;
	  display: inline;
	  font-size: 10px;
	  width: 100%;
	  line-height: 1;
	  color: rgba(0, 0, 0, 0.7);
	  content: "\25BC";
	  position: absolute;
	  text-align: center;
	}

	/* Style northward tooltips differently */
	.d3-tip.n:after { margin: -1px 0 0 0; top: 100%; left: 0; }
</style>

<!-- <div class="row">
	<div class="span6"> -->

<h1>Data Visualization</h1>
	


<script>

 var getData = function () {
    var url = '/allwater';

    $.getJSON( url, function(data) {

      var margin = {top: 80, right: 20, bottom: 30, left: 80},
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

      var formatPercent = d3.format(".0%");

      var x = d3.scale.ordinal()
          .rangeRoundBands([0, width], .7);

      var y = d3.scale.linear()
          .range([height, 0]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .tickFormat(formatPercent);

      var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d) {
          return "<strong>Frequency:</strong> <span style='color:red'>" + d.frequency + "</span>";
        })

      var svg = d3.select("body").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      svg.call(tip);

      console.log("get json data");
      console.log(data);

      x.domain([0, 400]);
      y.domain([0, 100]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .append("text")
          .text("Install date");

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Petrifilm");

    //   // svg.selectAll(".bar")
    //   //     .data(data)
    //   //   .enter().append("rect")
    //   //     .attr("class", "bar")
    //   //     .attr("x", function(d) { return x(d.installdate); })
    //   //     // .attr("x", function(d) { return x(d.letter); })
    //   //     .attr("width", x.rangeBand())
    //   //     .attr("y", function(d) { return y(d.petrifilm); })
    //   //     // .attr("y", function(d) { return y(d.frequency); })
    //   //     .attr("height", function(d) { return height - y(d.petrifilm); })
    //   //     // .attr("height", function(d) { return height - y(d.frequency); })
    //   //     .on('mouseover', tip.show)
    //   //     .on('mouseout', tip.hide)
    });

    // // function type(d) {
    // //   d.petrifilm = +d.petrifilm;
    // //   return d;
    // // }
  };

  getData();
</script>
