<!-- <h1>Data Mapping</h1> -->
<!-- {{#quality}}
		 <h1>{{lat}}</h1>	  
{{/quality}} -->

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<style type="text/css">
  html, body, #map {
    background-color:white;
    top: 24px;
    width: 100%; height: 100%;
    margin: 0; 
    padding: 20px;
  }
  .leaflet-top .leaflet-control {
  	margin-top: 30px;
  }
</style>

<body>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<div id="map"></div>
	
	<script type="text/javascript">

	loadQuality();

	//DATA LOAD FUNCTIONS
	function loadQuality() {
		$.getJSON('/allwater', function(temp_data) {
			var data = temp_data.quality;

			L.geoJson(data, {

				pointToLayer: function (feature, latlng) {
					// return L.marker(latlng);

					return L.circleMarker(latlng, {
						// radius: 8,
						// fillColor: "#ff7800",
						color: "#fff",
						weight: 1,
						opacity: 1,
						fillOpacity: 0.9
					});
				},

				style: function(feature){
					var so = {radius: 6};
					// so.fillColor = "#ff7800";
					if(feature.properties["colilert"] == "fluorescence") {
						so.fillColor = "#ff7800";
					} else if(feature.properties["colilert"] == "yellow") {
						so.fillColor = "#ffff33";
					} else if(feature.properties["colilert"] == "transparent") {
						so.fillColor = "#3399ff";
					}
					

					return so;
				}

			}).addTo(map);
		});
	}

	// var styleId = 22677;
	      
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'; // basic open street map
	// var osmUrl='http://{s}.tile.cloudmade.com/d4fc77ea4a63471cab2423e66626cbb6/22677/256/{z}/{x}/{y}.png'; // black & white
	// var osmUrl='http://a.tiles.mapbox.com/v3/brianhouse.map-oxn5wd2a/{z}/{x}/{y}.png'; // satellite
	var osmAttrib='Map data OpenStreetMap contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 19, attribution: osmAttrib});

	var map = L.map('map', {
		center: [26, 0], // lat, lon
		zoom: 2,
		zoomControl: false
	});
	map.addLayer(osm);

	new L.Control.Zoom({ position : 'topright'}).addTo(map);

	
	  
    </script>

</body> 
