<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- <div id="images"></div>
 
<script>
(function() {
  var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
  $.getJSON( flickerAPI, {
    tags: "coffee",
    tagmode: "any",
    format: "json"
  })
    .done(function( data ) {
      $.each( data.items, function( i, item ) {
        $( "<img>" ).attr( "src", item.media.m ).appendTo( "#images" );
        if ( i === 3 ) {
          return false;
        }
      });
    });
})();
</script> -->
 
<script>
  

  var getData = function () {
    var url = '/allsms';
    $.getJSON( url, function(data) {

      console.log(data);
    })
  };
  
  getData();

// var getdata = function() {
//   var smsAPI = '/allsms';

//   $.getJSON( smsAPI, {
//     })
//     .done(function( data ) {
//     	// console.log(data);
//     	return data;
//     });
// }

// var myjson = getdata();
// console.log(myjson);

</script>