<style>
	h1 {
		/*background-color: black;*/
		position:relative; top: 368px; 
		text-align: center; 
		z-index: 20;
		/*color: white;*/
		/*right: 10%;*/
		font-size: 38px;
		/*text-shadow: 2px 2px rgba(120,120,120,0.6);*/
	}
	h2 {
		/*background-color: rgba(230, 230, 230, 0.8);*/
		position:relative; top: 340px; 
		/*left: 5%;*/
		/*text-align: center;*/
		padding-top: 40px; font-size: 17px;
		padding-bottom: 40px; padding-left: 10%; padding-right: 10%;
	}
</style>

<h1>Ghana</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1007620.8755568276!2d-0.8237369999999999!3d9.419730999999826!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1396416617180" 
width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1968.0175145043488!2d-0.8237961104507447!3d9.418328426328232!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1396415856620" 
width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe> -->

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.0363557083438!2d-0.8236620000000135!3d9.418211999999915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfd43b84405739f7%3A0xccd5df6484547c7a!2sPure+Home+Water!5e0!3m2!1sen!2sus!4v1396415660038"  
width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe> -->

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63380.45899808621!2d39.237727272491455!3d-6.8571631401523465!3m2!1i1024!2i768!4f13.1!2m1!1sKiwalani+!5e0!3m2!1sen!2sus!4v1387942644837"
            width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe> -->

<h2>
Tamale community in Ghana is a rural region with dispersed setting. People are suffering from highly turbid and microbiologically contaminated water. Pure Home Water (PHW) has been producing and distributing Ceramic Pot Filters (CPF). AQUA-BRIDGE and PHW agreed to collaborate to better serve the community.


<br><br>
	<span style="font-weight:bold;">Collaborator: </span>
	
<span style="font-weight:bold;color:#6FCEEE"> Pure Home Water  </span>(<a href="http://purehomewater.org/">purehomewater.org/</a>) is a social enterprise and legally registered non-profit organization based in Tamale, Ghana founded in 2005 by Susan Murcott, Senior Lecturer in MIT’s Department of Civil and Environmental Engineering, in collaboration with local partners and 2 years start-up funds from the C.N. Hilton Foundation. In 2012, PHW is engaged in expanding our state-of-the-art ceramic water filter factory in Tamale, Ghana to produce AfriClay Filters, our principal product (formerly known as the Kosim Filter). Susan Murcott has been the mentor of AQUA-BRIDGE for past three years and we also have ongoing research collaboration to improve ceramic pot filter performance.
</h2>

