<style>
  h1 { 
      position: absolute; font-size: 26px; font-weight:bold;
      color: black; padding: 15px;
      padding-left: 26px; padding-right: 26px;
      background-color: rgba(255,255,255,1);
      top: -220px; letter-spacing:4px;
      left: -100px; text-align: left;
  }
  h2 { letter-spacing: 1px; color: rgba(111,206,238,1);}
  .captiondesign {
      font-size: 16px; color: black; padding: 14px;
      padding-left: 26px; padding-right: 26px;
      background-color: rgba(255,255,255,1);
      letter-spacing:3px; text-align: left;
      position: absolute; top: -120px; left: -100px;
  }
  h3 {
    text-align: center; font-size: 22px; padding-left: 10%; padding-right: 10%;
  }
  p { letter-spacing: 1px;  }
  @media (max-width: 992px) { 
    h1 {
      font-size: 20px; padding: 10px; left: -60px; top: -105px;
    }
    .captiondesign {
      font-size: 12px; padding: 6px; left: -60px; top: -25px; font-weight:bold;
    }
  }
  body { padding-bottom: 0px !important;}
  .carousel { margin-bottom: 0px; }
  /*footer { background-color: rgba(100, 100, 100, 0.6);}*/
</style>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/IMG_3719.JPG" alt="First slide">
      <div class="container">
        <div class="carousel-caption" >
          <h1 style="color:rgba(30, 30, 30, 1);"> A CROWD-SOURCED WORLD WATER QUALITY MAP </h1>
          <h4 class="captiondesign"> <a href="/worldmap">Join us</a> to test your drinking water quality </h4>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/img/IMG_3601.JPG" art="Second slide">
      <div class="container">
        <div class="carousel-caption" >
          <h1 style="color:rgba(30, 30, 30, 1);"> MONITORING FILTER PERFORMANCE </h1>
          <h4 class="captiondesign"> Let's see what's going on in <a href="/tanzania">Kiwalani, Tanzania</a> </h4>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/img/IMG_3560.JPG" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:rgba(30, 30, 30, 1);"> 
          PEOPLE AND AQUA-BRIDGE </h1>
          <h4 class="captiondesign"> Find more about <a href="/aboutus"> our stories  </a> </h4>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<!-- <h1 style="color:rgba(30, 30, 30, 1); text-align:center; font-size:30px;">
  AQUA-BRIDGE HELPS YOU TO FIND IF YOUR 
  <span style="color:#6FCEEE">DRINKING WATER</span>
  IS SAFE
</h1> --> 



  <!-- START THE FEATURETTES -->
<!--   <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Monitoring filter performance 
      </h2>
      <p class="lead">AQUA-BRIDGE collaborates with local filter producers and distributors to better serve communities suffering from drinking water crisis. AQUA-BRIDGE enables filter producers to effectively test and track their filters’ performances. AQUA-BRIDGE has project sites in Tanzania, Ghana and Nigeria.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/filter.png" alt="Generic placeholder image" width="500px" height="500px">
    </div>
  </div>
  
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/img/map.png" alt="Generic placeholder image" width="500px" height="500px">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">World water quality map 
        <span class="text-muted">our service</span>
      </h2>
      <p class="lead">Water crisis is not only limited to developing countries, and there is no easy or accessible way to test water quality at the household level in developed countries. Anyone can apply for simple water quality test kit and test their household’s water quality. The test result can be uploaded on our website.</p>
    </div>
  </div> -->

 <!--  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div> -->



    <!-- <hr class="featurette-divider" style="margin:20px;"> -->
    <footer style="margin:40px;">
      <p>&copy; 2014 AQUA-BRIDGE
      </p>
    </footer>


</div><!-- /.container -->


