<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AQUA-BRIDGE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href="/css/carousel.css" rel="stylesheet">

        <link rel="shortcut icon" href="/img/favicon.ico" />

        <style>
            html, body {
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            h1 { 
                position: relative; top: 40px;
                text-align: center; font-size: 28px;
            }
            li:hover {
                color: black; 
                background-color: rgb(140,140,140);
            }
            .navbar-brand {
                padding: 0px; z-index: 40;
            }
            .navbar-wrapper {
                font-size: 14px;
            } 
        </style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

                <!-- for D3.js --><!-- 
        <script type="text/javascript" src="js/d3.js"></script>
        <script type="text/javascript" src="js/d3.geom.js"></script>
        <script type="text/javascript" src="js/d3.layout.js"></script>
         -->
    </head>
    <body>

        <div class="navbar-wrapper">
          <div class="container">
            <!-- <div class="navbar navbar-fixed-top navbar-inverse" role="navigation"> -->
            <div class="navbar navbar-inverse navbar-fixed-top">
            <!-- <div class="navbar navbar-inverse navbar-static-top" role="navigation"> -->
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                   <a class="navbar-brand" href="/"><img src="/img/logo_moon.png" /></a>
                </div>
                
                <div class="collapse navbar-collapse">
                <!-- <div class="navbar-collapse collapse"> -->
                  <!-- <ul class="nav navbar-nav"> -->
                  <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="/aboutus" style="color:white;">ABOUT US</a></li>
                   <!--  <li class="dropdown">
                      <a href="/aboutus" style="color:white;">ABOUT US </a>

                      <ul class="dropdown-menu" style="font-size:13px; padding: 12px;">
                        <li><a href="/history_aqua">HISTORY</a></li>
                        <li><a href="/team">LEADERSHIP</a></li>
                        <li><a href="/tech">TECHNOLOGY</a></li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </li>
                     -->
                    <!-- <li>
                        <a href="/project_summary" style="color:white;">WATER FILTRATION SITES </a>
                    </li> -->
                    <li class="dropdown">
                      <a href="/project_summary" style="color:white;">WATER FILTRATION SITES 
                      </a>
                      <ul class="dropdown-menu" style="font-size:14px; padding: 12px;">
                        <li><a href="/tanzania">Tanzania</a></li>
                        <li><a href="/ghana">Ghana</a></li>
                        <li><a href="/nigeria">Nigeria</a></li>
                      </ul>
                    </li>
                        
                    <!-- <li><a href="/worldmap" style="color:white;">WATER QUALITY MAP</a></li> -->
                    <li class="dropdown">
                      <a href="/worldmap" style="color:white;">
                        TEST YOUR OWN WATER </a>
                      <ul class="dropdown-menu" style="font-size:14px; padding: 12px;">
                        <li><a href="/watertest">Learn how to test</a></li>
                        <li><a href="/water">Add your data</a></li>
                        
                        <!-- <li class="divider"></li> -->
                        <!-- <li><a href="/dataviz">DATA VIZ</a></li> -->
                        <li><a href="/datamapping">Water quality map</a></li>
                        <!-- <li><a href="/sms">SMS</a></li> -->
                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
        <!-- <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">AQUA-BRIDGE</a>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/tech">How it works</a></li>
                    <li><a href="/area">Where it serves</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/contact">Contact</a></li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">DATA<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/water">Water Quality</a></li>
                        <li><a href="/sms">SMS</a></li>
                        <li class="divider"></li>
                        <li><a href="/dataviz">Data Viz</a></li>
                        <li><a href="/datamapping">Data Mapping</a></li>
                      </ul>
                    </li>

                </ul>
            </div>
          </div>
        </div> -->


        {{{yield}}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/docs.min.js"></script>

        <!-- form helpers -->
        <script src="/js/bootstrap-formhelpers.js"></script>
        <link href="/css/bootstrap-formhelpers.css" rel="stylesheet">

        <!-- jquery -->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<!--         // <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
            jQuery(document).ready( function() {
                jQuery('form').validate(); 
            });
        </script>

        <!-- <hr class="featurette-divider" style="margin:20px;">
        <footer style="margin:0px; background-color: grey;">
            <h6>&copy; 2014 AQUA-BRIDGE
            </h6>
        </footer> -->
    </body>
</html>
