<style>
	h1 {
		/*background-color: black;*/
		position:relative; top: 368px; 
		text-align: center; 
		z-index: 20;
		/*color: white;*/
		/*right: 10%;*/
		font-size: 38px;
		/*text-shadow: 2px 2px rgba(120,120,120,0.6);*/
	}
	h2 {
		/*background-color: rgba(230, 230, 230, 0.8);*/
		position:relative; top: 340px; 
		/*left: 5%;*/
		/*text-align: center;*/
		padding-top: 40px; font-size: 17px;
		padding-bottom: 40px; padding-left: 10%; padding-right: 10%;
	}
</style>

<h1>NIGERIA</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d31713.07309601379!2d3.377925!3d6.504698999999995!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1396416670749"  

width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe>

<!-- 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.0685594093404!2d3.377936!3d6.504321000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c5f983b14dd%3A0xc6d19d31ff03f83b!2sCo-Creation+Hub+Nigeria!5e0!3m2!1sen!2sus!4v1396415554321" 
width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe> -->

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63380.45899808621!2d39.237727272491455!3d-6.8571631401523465!3m2!1i1024!2i768!4f13.1!2m1!1sKiwalani+!5e0!3m2!1sen!2sus!4v1387942644837"
            width="100%" height="370px" frameborder="0"
            style="position:absolute; display: block; 
            margin-left: auto;
            margin-right: auto;top: 0px"></iframe> -->

<h2>
Lagos, Nigeria is industrialized city where many water sources are severely contaminated. PHW’s CPFs will be distributed via Wecyclers’ customer network. In exchange for recyclable waste, Wecyclers give redeemable points to low-income households that can be exchanged with essential goods. PHW’s CPFs will be given in exchange with the accumulated points and their performance will be tracked via our ICT platform. Wecyclers and AQUA-BRIDGE agreed to collaborate to better serve low-income households in Nigeria.


<br><br>
	<span style="font-weight:bold;">COLLABORATOR: </span>
	
<span style="font-weight:bold;color:#6FCEEE"> Wecyclers </span>(<a href="http://wecyclers.com">wecyclers.com</a>) tackles urban waste challenge for households and recyclers in Lagos, Nigeria. Wecyclers motivates families to recycle plastic bottles, plastic sachets, and aluminum cans through their SMS-based incentive program. For every kilogram of material that families recycle with Wecyclers, they receive redeemable Wecyclers points over their cell phones in return. Families can then redeem their points for goods that they value, such as cell phone minutes, basic food items, and household goods. After collection, Wecyclers aggregates the material at the household level to sell to local recycling processors. AQUA-BRIDGE will promote BSF and CPF through Wecyclers’ customer network.
</h2>

