<style>
	h3 {font-size:18px; position:relative; top:60px; text-align:center;}
	p {position:relative; text-align:center; top:20px;}
</style>

<div class="row">
	<!-- <div class="span6"> -->
		<h1>One water data</h1>
		<br>
		<!-- <div class="span4"> -->
			<h3>Rerefence: {{quality.reference}}</h3>

			<h3>Install date: {{quality.installdate}}</h3>

			<h3>Colilert: {{quality.colilert}}</h3>

			<h3>Petrifilm (blue): {{quality.petrifilm_blue}}</h3>

			<h3>Petrifilm (red): {{quality.petrifilm_red}}</h3>
<!-- 
			<h5>Petrifilm: #</h5>
			<p>{{quality.petrifilm}}</p> -->
		<!-- </div> -->
	<!-- </div> -->
</div>