<style>
body {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 40px;
}
.col-sm-4 {
  padding: 0px;
  /*padding-left: 20px;*/
  margin: 0px;
}
h3 {
  text-align: center; padding: 0px; margin: 0px;
  font-size: 20px; color: grey; letter-spacing: 1px;
}
</style>

<link rel="stylesheet" href="css/chart_style.css" media="screen" type="text/css"/>
<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src='http://d3js.org/d3.v3.min.js'></script>

<h1 style="letter-spacing:1px; padding-left:15%; padding-right:15%; font-size: 2.0em; line-height:140%; top: 0px;">
  Statistics on World Water Quality Data
</h1>

<br><br><br><br>

<div class="form-group">
  
  <div class="col-sm-4">
    <h3>United States</h3>
  </div>
  <div class="col-sm-4">
    <h3>Tanzania</h3>
  </div>
  <div class="col-sm-4">
    <h3>Ghana</h3>
  </div>

</div>

<br><br><br>
<div class="form-group">

  <div class="col-sm-4">
    <div id="pieChart">
      <svg id="pieChartSVG">
        <defs>
          
          <filter id='pieChartInsetShadow_u'>
            <feOffset dx='0' dy='0'/>
            <feGaussianBlur stdDeviation='3' result='offset-blur' />
            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
            <feFlood flood-color='black' flood-opacity='1' result='color' />
            <feComposite operator='in' in='color' in2='inverse' result='shadow' />
            <feComposite operator='over' in='shadow' in2='SourceGraphic' />
          </filter>

        </defs>
      </svg>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="pieChart">
      <svg id="pieChartSVG">
        <defs>
          
          <filter id='pieChartInsetShadow_t'>
            <feOffset dx='0' dy='0'/>
            <feGaussianBlur stdDeviation='3' result='offset-blur' />
            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
            <feFlood flood-color='black' flood-opacity='1' result='color' />
            <feComposite operator='in' in='color' in2='inverse' result='shadow' />
            <feComposite operator='over' in='shadow' in2='SourceGraphic' />
          </filter>

        </defs>
      </svg>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="pieChart">
      <svg id="pieChartSVG">
        <defs>
          
          <filter id='pieChartInsetShadow_g'>
            <feOffset dx='0' dy='0'/>
            <feGaussianBlur stdDeviation='3' result='offset-blur' />
            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
            <feFlood flood-color='black' flood-opacity='1' result='color' />
            <feComposite operator='in' in='color' in2='inverse' result='shadow' />
            <feComposite operator='over' in='shadow' in2='SourceGraphic' />
          </filter>

        </defs>
      </svg>
    </div>
  </div>

</div>



<script language="javascript" type="text/javascript" src="world.js"></script>
<!-- <script language="javascript" type="text/javascript" src="us.js"></script> -->
<!-- 
<script language="javascript" type="text/javascript" src="tanzania.js"></script> -->

<!-- <script language="javascript" type="text/javascript" src="ghana.js"></script> -->



