
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<style>
  html, body, #map-canvas {
    height: 450px;
    width: 100%;
    margin: 0px;
    padding: 20px;
    top: 100px;
  }
  p {font-size: 18px; text-align: center; position: relative; color: rgba(148,148,148,1);}
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<h1>AQUA-BRIDGE monitors filter performance</h1>
<p style="top: 68px;">by collecting water quality data and visualize it in real-time</p>
<!-- <p style="top: 68px;">Find out more about it in our project sites</p> -->

<script>
var map;

function initialize() {
  var tanzania = new google.maps.LatLng(-6.856555, 39.239570);
  var ghana = new google.maps.LatLng(9.419731, -0.823737);
  var nigeria = new google.maps.LatLng(6.504699, 3.377925);

  // customized map
  var MY_MAPTYPE_ID = 'custom_style';

  var featureOpts = [
    {
      stylers: [
        { hue: '#ffffff' },
        { saturation: -100 },
        { visibility: 'simplified' },
        { lightness: 0 },
        { gamma: 0.9 }
      ]
    },
    {
      elementType: 'labels',
      stylers: [
        { visibility: 'off' }
      ]
    },
    {
      featureType: 'water',
      stylers: [
        { color: '#ffffff' }
      ]
    }
  ];

  var mapOptions = {
    zoom: 3,
    center: new google.maps.LatLng(0,0),
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
    },
    mapTypeId: MY_MAPTYPE_ID
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var styledMapOptions = {
    name: 'Custom Style'
  };

  // var icon_src = document.getElementById("icon").getAttribute('src');

  // info window
  // var content_nyu = '<div id="content">'+
  //       '<a href="/nyu"><h1 id="firstHeading" class="firstHeading">New York University</h1>'+
  //       '<div id="bodyContent">'+'<p>'+ 'March 22 2014'+'</p></div>'+
  //     '</div>';

  var content_tanzania = '<div id="content"><p><a href="/tanzania">Tanzania</a></p></div>';
  var content_ghana = '<div id="content"><p><a href="/ghana">Ghana</a></p></div>';
  var content_nigeria = '<div id="content"><p><a href="/nigeria">Nigeria</a></p></div>';

  var infowindow_tanzania = new google.maps.InfoWindow({
      content: content_tanzania 
  });

  var infowindow_ghana= new google.maps.InfoWindow({
      content: content_ghana 
  });

  var infowindow_nigeria = new google.maps.InfoWindow({
      content: content_nigeria 
  });

  // var infowindow_ada = new google.maps.InfoWindow({
  //     content: content_ada
  // });

  var marker_tanzania = new google.maps.Marker({
    position: tanzania,
    // icon: icon_src,
    map: map
  });

  var marker_ghana = new google.maps.Marker({
    position: ghana,
    // icon: icon_src,
    map: map
  });

  var marker_nigeria = new google.maps.Marker({
    position: nigeria,
    // icon: icon_src,
    map: map
  });

   google.maps.event.addListener(marker_tanzania, 'click', function() {
    infowindow_tanzania.open(map,marker_tanzania);
   });

   google.maps.event.addListener(marker_ghana, 'click', function() {
    infowindow_ghana.open(map,marker_ghana);
   });

   google.maps.event.addListener(marker_nigeria, 'click', function() {
    infowindow_nigeria.open(map,marker_nigeria);
   });

  var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
  map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="map-canvas"></div>
