<style>
	form {
		position: relative;
		top: 40px;
		padding: 25px;
		padding-bottom: 40px;
		font-size: 14px;
	}
</style>

<!-- <h1>WATER QUALITY RESULT</h1> -->
<form class="form-horizontal" method="POST" action="/createWater" role="form">

	<div class="form-group">
		<label for="reference" class="col-sm-4 control-label" style="font-family: sans-serif;"> Name  </label>
		<div class="col-sm-4">
			<input type="text" name="reference" class="form-control" id="reference" value="{{quality.reference}}">	
		</div>
	</div>


	<div class="form-group" style="z-index: 50;">
		<label for="testdate" class="col-sm-4 control-label" style="font-family: sans-serif;"> Date </label>
		<div class="col-sm-4">
	        <input type="text" name="testdate" id="testdate" class="form-control date_select" />
	    </div>
    </div>


	<div class="form-group">
		<label for="reference" class="col-sm-4 control-label" style="font-family: sans-serif;"> Location </label>
		<div class="col-sm-4">
			<button onclick="getLocation()" type="button" class="btn " style="font-size: 10px; background-color: #E0E0E0;">
					<img src="location.png" style="width: 12px;"/>
			</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<input type="text" name="lat" class="form-control" id="lat" value="latitude" onfocus="if (this.value=='latitude') this.value='';">	
		</div>
		<div class="col-sm-2">
			<input type="text" name="lon" class="form-control" id="lon" value="longitude" onfocus="if (this.value=='longitude') this.value='';">
		</div>
	</div>


	<div class="form-group">
		<label for="sourcetype" class="col-sm-4 control-label" style="font-family: sans-serif;"> Source type </label>
		<div class="col-sm-4">
			<select class="form-control" name="sourcetype">
			  <option id="sourcetype" value="standpipe">Standpipe</option>
			  <option id="sourcetype" value="well">Well</option>
			  <option id="sourcetype" value="rainwater">Rainwater</option>
			  <option id="sourcetype" value="river">River</option>
			  <option id="sourcetype" value="spring">Spring</option>
			  <option id="sourcetype" value="dam">Dam</option>
			</select>
		</div>
	</div>
	<hr>

	<div class="form-group">
		<label class="col-sm-4 control-label" style="font-family: sans-serif;"> 
			Petrifilm
		</label>
		<div class="col-sm-4">
<!-- 			<button type="button" class="btn " style="font-size: 10px; background-color: #E0E0E0;">
					<img src="/img/petrifilm.png" style="width: 40px;"/>
			</button> -->
			<img src="/img/petrifilm2.png" style="width: 30px;"/>
		</div>
	</div>
	<div class="form-group">
		<label for="petrifilm" class="col-sm-4 control-label"> blue dots</label>
		<div class="col-sm-4">
			<input type="text" class="form-control bfh-number" name="petrifilm_blue" id="petrifilm_blue">
		</div>
	</div>
	<div class="form-group">
		<label for="petrifilm" class="col-sm-4 control-label"> red dots</label>
		<div class="col-sm-4">
			<input type="text" name="petrifilm_red" class="form-control bfh-number"  id="petrifilm_red"> 
		</div>
	</div>

	<div class="form-group">
		<label for="colilert" class="col-sm-4 control-label" style="font-family: sans-serif;"> 
			Colilert
		</label>
		<div class="col-sm-4">
			<img src="/img/colilert.jpg" style="width: 40px;"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
			<select class="form-control" name="colilert">
			  <option id="colilert" value="none">none</option>
			  <option id="colilert" value="fluorescence">fluorescence</option>
			  <option id="colilert" value="yellow">yellow</option>
			  <option id="colilert" value="transparent">transparent</option>
			</select>
		</div>
	</div>

	<br>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">  
			<input class="btn btn-warning btn-lg btn-block" type="submit" value="Add a new data">
		</div>
	</div>
</form>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var x=document.getElementById("demo");
    function getLocation()
    {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition,showError);
        } else {x.innerHTML="Geolocation is not supported by this browser.";}
    }
    
    function showPosition(position) {
        var latlon=position.coords.latitude+","+position.coords.longitude;
        var tlat = position.coords.latitude;
        var tlng = position.coords.longitude;
            $("#lat").val (tlat);
            $("#lon").val (tlng);
    
        var img_url="http://maps.googleapis.com/maps/api/staticmap?center="+latlon
        +"&markers=icon:http://tinyurl.com/2ftvtt6|"+latlon+
        "&zoom=14&size=320x180&sensor=false";
        document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
    }
      
    function showError(error) {
        switch(error.code) 
        {
            case error.PERMISSION_DENIED:
              x.innerHTML="User denied the request for Geolocation."
              break;
            case error.POSITION_UNAVAILABLE:
              x.innerHTML="Location information is unavailable."
              break;
            case error.TIMEOUT:
              x.innerHTML="The request to get user location timed out."
              break;
            case error.UNKNOWN_ERROR:
              x.innerHTML="An unknown error occurred."
              break;
        }
    }

    $(function() {
        $('.date_select').datepicker();
    });    
</script>

