<style>
  h2 { letter-spacing: 1px; color: rgba(111,206,238,1);}
  p {
  	text-align: left; position: relative; top: 10px;
  	font-size: 1.2em; color: rgba(90,90,90,0.9); letter-spacing: 1px; padding-left: 0px; line-height:110%; 
  }
  .form-group {
  	position: relative; top: 100px;
  }
</style>

<h1 style="letter-spacing:1px; padding-left:22%; padding-right:22%; font-size: 2.0em; line-height:140%;">
	LET'S LEARN HOW TO TEST WATER QUALITY
</h1>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-5">
		<img src="img/petrifilm_test.png" style="width:92%;top:180px; text-align: right;opacity: 0.8;">
	</div>
	<div class="col-sm-5">
		<p>
			<!-- <a href="https://www.youtube.com/watch?v=0w9QHboTSGI"> -->
				<span style="font-size:1.3em;">Petrifilm test</span> 
			<!-- </a> -->
		</p>
		<p> First, drop 1ml of water on the petrifilm </p>
		<p> Second, wait for 24 hours</p>
		<p> Third, count the number of blue & red dots </p>
		<p> <span style="font-size:0.7em;padding:40px;">(blue: bad bacteria, red: other bacteria)</span>
		</p>
	</div>
</div>


<div class="form-group" style="top: 150px;">
	<div class="col-sm-offset-2 col-sm-5">
		<img src="img/colilert_test.png" style="width:92%;top:180px;opacity: 0.8;">
	</div>
	<br>
	<div class="col-sm-5">
		<p>
			<!-- <a href="https://www.youtube.com/watch?v=xRbO-hrR_NE"> -->
				<span style="font-size:1.3em;">Colilert test</span> 
			<!-- </a> -->
		</p>
		<p> First, drop 10ml of water to a tube</p>
		<p> Second, wait for 24 hours </p>
		<p>Third, check the color of water</p>
		<p> <span style="font-size:0.7em;padding:40px;">(fluorescent: bad bacteria, yellow: other bacteria)</span>
		</p>
	</div>
</div>

