<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

<style>
  /*html {padding: 20px;}*/
  html, body, #cartodb-map {
      height: 450px;
      width: 100%;
      margin: 0px;
      padding: 20px;
      top: 100px;
    }
  h2 {
    /*font-family: sans-serif;*/
    font-size: 18px; padding: 12px;
    color: rgba(100,100,100,0.9); 
    /*color: rgba(111,206,238,1); */
  }
/*  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100%;
  }*/
  .container{
    width: 100%;
  }
  .cartodb-popup-content-wrapper { width: 250px !important; max-width: 250px !important;}
  .leaflet-top { top: 45px !important; }
  p {font-size: 18px; text-align: center; position: relative; color: rgba(168,168,168,1);}
</style>

<h1 style="letter-spacing:1px; padding-left:22%; padding-right:22%; font-size: 2.0em; line-height:140%;">
  A CROWD-SOURCED WORLD WATER QUALITY MAP
</h1>

<!-- <img class="img-rounded" src="/img/peter.png" width="160px" alt="Generic placeholder image" style="padding: 14px"> -->

<div class="container marketing" style="position:relative; top: 110px; background-color: white; margin: 0; padding-top: 45px; padding-left: 5%; padding-right: 5%; border: 6px solid rgba(200,200,200,0.4); border-left: none; border-right: none;">
    <div class="col-lg-4" >
      <img class="img-circle" src="/img/test1.png" width="260px" alt="Generic placeholder image" >
      <h2>TEST WATER QUALITY</h2>
    </div>

    <div class="col-lg-4">
      <a href="/water">
        <img class="img-circle" src="/img/adddata2.png" width="260px" alt="Generic placeholder image" >
      </a>
      <h2>ADD A DATA</h2>
    </div>

    <div class="col-lg-4" >
      <a href="/datamapping">
        <img class="img-circle" src="/img/qualitymap3.png" width="260px" alt="Generic placeholder image" >
      </a>
      <h2>WATER QUALITY MAP</h2>
    </div>
 </div>

<!-- 
<script>
  var map;
  function init(){
    map = new L.Map('cartodb-map', { 
      center: [9.594076, -0.881363],
      zoom: 7,
      zoomControl: false
    });
    L.tileLayer('https://dnv9my2eseobd.cloudfront.net/v3/cartodb.map-4xtxp73f/{z}/{x}/{y}.png', {
      attribution: 'Mapbox <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>'
    }).addTo(map);
    
    new L.Control.Zoom({ position : 'topright'}).addTo(map);
    var layerUrl = 'http://youjin.cartodb.com/api/v2/viz/1d5ce654-a95d-11e3-9707-0e10bcd91c2b/viz.json';

    cartodb.createLayer(map, layerUrl)
      .addTo(map)
      .on('done', function(layer) {
      }).on('error', function() {
      });
  }  
</script>
<body onload="init()">
<div id='cartodb-map'></div>
</body> -->