<!-- <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script> -->

<script type="text/javascript" src="js/d3.js"></script>
<script type="text/javascript" src="js/d3.geom.js"></script>
<script type="text/javascript" src="js/d3.layout.js"></script>
<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- css animation -->
<link rel="stylesheet" href="css/animations.css">

<style type="text/css">
  circle {
    stroke: #fff;
    stroke-opacity: .0;
  }
  #cartodb-map {
    padding: 20px;
  }
  h2 {
    font-size: 17px; padding: 0px;
    color: rgba(100,100,100,0.9); 
  }
  .container{
    width: 100%;
  }
  /*.cartodb-popup-content-wrapper { width: 250px !important; max-width: 250px !important;}*/
  /*.leaflet-top { top: 45px !important; }*/
  p {font-size: 18px; text-align: center; position: relative; color: rgba(148,148,148,1);}
  h6 {
      position: absolute;
      left: 120px;
      font-size: 13px; letter-spacing: 2px;
      margin-bottom: 40px;
  } 
</style>

<h1 style="letter-spacing:1px; padding-left:22%; padding-right:22%; font-size: 1.8em; line-height:140%;">
  Test your water quality and share it with the world
</h1>
<p style="top: 68px;">Choose one of the following options and join us !</p>
<br>

<!-- <div id="body"></div> -->


<!-- <div class="container marketing" style="position:relative; top: 100px; background-color: white; margin: 0px; padding-top: 25px; padding-left: 5%; padding-right: 5%; padding-bottom: 0px;border: 1px solid rgba(200,200,200,0.4); border-left: none; border-right: none; top: 100px;"> -->
<div class="container marketing" style="position:relative; top: 100px; background-color: white; margin: 0px; padding-top: 25px; padding-left: 5%; padding-right: 5%; padding-bottom: 0px;">
    <div class="col-lg-4" >
      <a href="/watertest">
        <img class="img-rounded" id="test_img" src="/img/test2.png" width="220px" height="220px" alt="Generic placeholder image" style="opacity: 0.9;" >
      </a>
      <h2>Learn how to test water quality</h2>
    </div>

    <div class="col-lg-4">
      <a href="/water">
        <img class="img-rounded" id="data_img" src="/img/adddata2.png" width="220px" height="220px" alt="Generic placeholder image" >
      </a>
      <h2>
        Add data on the map
        <a href="/allwater">
          <button type="button" class="btn btn-default" style="margin-left:16px; font-size: 12px; font-weight: bold;letter-spacing:2px;color: rgba(111,206,238,1);">API</button> 
        </a>
      </h2>
    </div>

    <div class="col-lg-4" >
      <a href="/datamapping">
        <img class="img-rounded" id="map_img" src="/img/qualitymap3.png" width="220px" height="220px" alt="Generic placeholder image" >
      </a>
      <h2>A crowd-sourced world water qualiy map</h2>
    </div>
 </div>
 
<br><br><br><br><br>
 <!-- <div id="body"></div> -->


<!-- 
<script>
  var map;
  function init(){
    map = new L.Map('cartodb-map', { 
      center: [9.594076, -0.881363],
      zoom: 7,
      zoomControl: false
    });
    L.tileLayer('https://dnv9my2eseobd.cloudfront.net/v3/cartodb.map-4xtxp73f/{z}/{x}/{y}.png', {
      attribution: 'Mapbox <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>'
    }).addTo(map);
    
    new L.Control.Zoom({ position : 'topright'}).addTo(map);
    var layerUrl = 'http://youjin.cartodb.com/api/v2/viz/1d5ce654-a95d-11e3-9707-0e10bcd91c2b/viz.json';

    cartodb.createLayer(map, layerUrl)
      .addTo(map)
      .on('done', function(layer) {
      }).on('error', function() {
      });
  }  
</script>
<body onload="init()">
<div id='cartodb-map'></div>
</body> -->


<script type="text/javascript">

var getData = function () {
  var url = '/allwater';
  $.getJSON(url, function(temp_data) {

    var w = 1000,
        h = 400;

    var data = temp_data.quality;
    var nodes = data.map(function(data) { 
       var so;
       var pet_b = data.properties["petrifilm_blue"];
       var pet_r = data.properties["petrifilm_red"];
       var col = data.properties["colilert"];

       if (pet_b > 0 || col == "fluorescence") {
         so = '#ff7800';
       } else if (pet_r > 0 || col == "yellow") {
         so = '#ffff33';
       } else {
         so = '#3399ff';
       }

      return {
        radius: 10,
        color: so
      }; 
    }); // array

    var force = d3.layout.force()
        .gravity(0.09)
        .charge(function(d, i) { return i ? 0 : -300; })
        .nodes(nodes)
        .size([w, h]);

    var root = nodes[0];
    root.radius = 10;
    root.fixed = true;

    force.start();

    var svg = d3.select("#body").append("svg:svg")
        .attr("width", w)
        .attr("height", h);

    svg.append("rect")
    .attr("width", w)
    .attr("height", h)
    .attr("fill", "black");

    svg.selectAll("circle")
        .data(nodes.slice(0))
      .enter().append("svg:circle")
        .attr("r", function(d) { return d.radius; })
        .style("fill", function(d) { 
          return d.color; 
        });

    force.on("tick", function(e) {
      var q = d3.geom.quadtree(nodes),
          i = 0,
          n = nodes.length;

      while (++i < n) {
        q.visit(collide(nodes[i]));
      }

      svg.selectAll("circle")
          .attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
    });

    svg.on("mousemove", function() {
      var p1 = d3.svg.mouse(this);
      root.px = p1[0];
      root.py = p1[1];
      force.resume();
    });

    function collide(node) {
      var r = node.radius + 2, //16
          nx1 = node.x - r,
          nx2 = node.x + r,
          ny1 = node.y - r,
          ny2 = node.y + r;

      return function(quad, x1, y1, x2, y2) {

        if (quad.point && (quad.point !== node)) {
          var x = node.x - quad.point.x,
              y = node.y - quad.point.y,
              l = Math.sqrt(x * x + y * y),
              r = node.radius + quad.point.radius;

          if (l < r) {
            l = (l - r) / l * .5;
            node.x -= x *= l;
            node.y -= y *= l;
            quad.point.x += x;
            quad.point.y += y;
          }
        };
        return x1 > nx2
            || x2 < nx1
            || y1 > ny2
            || y2 < ny1;
      };
    };

  }); // $getJSON
}; // end of function

getData();



  $('#test_img').hover(function() {
    $(this).stop();
    $(this).addClass("pulse");
  }, function() {
    $(this).stop();
    $(this).removeClass("pulse");
  });

 $('#data_img').hover(function() {
    $(this).stop();
    $(this).addClass("pulse");
  }, function() {
    $(this).stop();
    $(this).removeClass("pulse");
  });

  $('#map_img').hover(function() {
    $(this).stop();
    $(this).addClass("pulse");
  }, function() {
    $(this).stop();
    $(this).removeClass("pulse");
  });

 // $('#test_img').mouseenter(function() {
 //      $(this).animate({
 //          height: '-=6px',
 //          width: '-=6px',
 //          opacity: '-=0.4'  
 //      });
 //  });
 //  $('#test_img').mouseleave(function() {
 //      $(this).animate({
 //          height: '+=6px',
 //          width: '+=6px',
 //          opacity: '+=0.4'
 //      });
 //  });

</script>

<br>
<hr class="featurette-divider" style="margin:30px;">
<footer style="margin:20px;">
  <h6>&copy; 2014 AQUA-BRIDGE
  </h6>
</footer>